![Tinder](https://full-stack-assets.s3.eu-west-3.amazonaws.com/M03-EDA/Tinder-Symbole.png)

# üßπ Etape : Nettoyage des Donn√©es Speed Dating

## üìã Objectifs du notebook

Ce notebook va :
1. Charger les donn√©es brutes
2. Renommer les colonnes en fran√ßais selon la documentation
3. Faire une premiere analyse
4. Garder uniquement les colonnes utiles pour notre analyse
5. Cr√©er un fichier propre pour l'analyse

---

## ‚ö†Ô∏è IMPORTANT

Les donn√©es ont √©t√© collect√©es lors de 21 sessions diff√©rentes (waves).

Le syst√®me de notation a chang√© entre certaines vagues !
- **Waves 1-5** : notation 100 points √† distribuer
- **Waves 6-9** : √©chelle 1-10 (‚ö†Ô∏è PROBL√àME - √©chelle diff√©rente !)
- **Waves 10-21** : retour au syst√®me 100 points

le systeme de notation sur la vague 12 est diff√©rentes avec une contrainte, il faut supprimer la vague pour ne pas avoir de probleme dans l'analyse.


la question finales est ce qu il y a un autre rdv ? on va s'arreter sur les infos du premier temps et puis les donn√©es ensuites. et surtout pourquoi il match...

---
## üîã 1. Chargement des librairies

In [478]:
import pandas as pd
import numpy as np

print('‚úÖ librairies charg√©es !')

‚úÖ librairies charg√©es !

---
## üíΩ 2. Import du dataset

In [479]:
# Charger les donn√©es brutes
df = pd.read_csv('Speed+Dating+Data.csv', encoding='latin-1')
df.head().sort_values(by='iid')

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

In [480]:
#analyse rapide du dataset
print('le nombre de lignes est de :', df.shape[0])
print('le nombre de colonnes est de :', df.shape[1])
print('le nombre de participants uniques est de :', df["iid"].nunique())
print('le nombre de waves est de :', df["wave"].nunique())

le nombre de lignes est de : 8378
le nombre de colonnes est de : 195
le nombre de participants uniques est de : 551
le nombre de waves est de : 21

In [481]:
# visualisation des colonnes et des types de donn√©es
print(df.dtypes)
print(df.columns)
# on ne va pas voir ttes les colonnes
print(df.columns.tolist())

iid           int64
id          float64
gender        int64
idg           int64
condtn        int64
             ...
attr5_3     float64
sinc5_3     float64
intel5_3    float64
fun5_3      float64
amb5_3      float64
Length: 195, dtype: object
Index(['iid', 'id', 'gender', 'idg', 'condtn', 'wave', 'round', 'position',
       'positin1', 'order',
       ...
       'attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3', 'attr5_3',
       'sinc5_3', 'intel5_3', 'fun5_3', 'amb5_3'],
      dtype='object', length=195)
['iid', 'id', 'gender', 'idg', 'condtn', 'wave', 'round', 'position', 'positin1', 'order', 'partner', 'pid', 'match', 'int_corr', 'samerace', 'age_o', 'race_o', 'pf_o_att', 'pf_o_sin', 'pf_o_int', 'pf_o_fun', 'pf_o_amb', 'pf_o_sha', 'dec_o', 'attr_o', 'sinc_o', 'intel_o', 'fun_o', 'amb_o', 'shar_o', 'like_o', 'prob_o', 'met_o', 'age', 'field', 'field_cd', 'undergra', 'mn_sat', 'tuition', 'race', 'imprace', 'imprelig', 'from', 'zipcode', 'income', 'goal', 'date', 'go_out', 'career', 'career_c', 'sports', 'tvsports', 'exercise', 'dining', 'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga', 'exphappy', 'expnum', 'attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1', 'attr4_1', 'sinc4_1', 'intel4_1', 'fun4_1', 'amb4_1', 'shar4_1', 'attr2_1', 'sinc2_1', 'intel2_1', 'fun2_1', 'amb2_1', 'shar2_1', 'attr3_1', 'sinc3_1', 'fun3_1', 'intel3_1', 'amb3_1', 'attr5_1', 'sinc5_1', 'intel5_1', 'fun5_1', 'amb5_1', 'dec', 'attr', 'sinc', 'intel', 'fun', 'amb', 'shar', 'like', 'prob', 'met', 'match_es', 'attr1_s', 'sinc1_s', 'intel1_s', 'fun1_s', 'amb1_s', 'shar1_s', 'attr3_s', 'sinc3_s', 'intel3_s', 'fun3_s', 'amb3_s', 'satis_2', 'length', 'numdat_2', 'attr7_2', 'sinc7_2', 'intel7_2', 'fun7_2', 'amb7_2', 'shar7_2', 'attr1_2', 'sinc1_2', 'intel1_2', 'fun1_2', 'amb1_2', 'shar1_2', 'attr4_2', 'sinc4_2', 'intel4_2', 'fun4_2', 'amb4_2', 'shar4_2', 'attr2_2', 'sinc2_2', 'intel2_2', 'fun2_2', 'amb2_2', 'shar2_2', 'attr3_2', 'sinc3_2', 'intel3_2', 'fun3_2', 'amb3_2', 'attr5_2', 'sinc5_2', 'intel5_2', 'fun5_2', 'amb5_2', 'you_call', 'them_cal', 'date_3', 'numdat_3', 'num_in_3', 'attr1_3', 'sinc1_3', 'intel1_3', 'fun1_3', 'amb1_3', 'shar1_3', 'attr7_3', 'sinc7_3', 'intel7_3', 'fun7_3', 'amb7_3', 'shar7_3', 'attr4_3', 'sinc4_3', 'intel4_3', 'fun4_3', 'amb4_3', 'shar4_3', 'attr2_3', 'sinc2_3', 'intel2_3', 'fun2_3', 'amb2_3', 'shar2_3', 'attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3', 'attr5_3', 'sinc5_3', 'intel5_3', 'fun5_3', 'amb5_3']

## Trop de colonnes ...

In [482]:
# j'ai besoin de visualiser rapidement les valeurs uniques de certaines colonnes
valeur = 'attr1_1'
print('les valeurs unique de la colonnes', df[valeur].unique())

les valeurs unique de la colonnes [ 15.    45.    35.    20.    10.     9.09  60.    19.    30.    50.
  33.33 100.    12.    17.      nan  25.    40.     5.    21.    14.
  18.    80.    16.67  12.77   6.67  18.18  17.39  18.75  18.6   20.83
  14.29   8.33  16.    11.36  15.09   8.51  14.55   9.76  15.38  19.05
  15.91  15.22  20.51  27.78  11.11  17.78  16.28  19.57  18.37   9.52
  12.24  13.04  19.15  16.07  16.98  19.44  15.56  20.45  20.93  17.65
  17.5   13.21  19.61  14.58  17.31  11.54  16.36  15.52  17.02  14.89
   7.5   21.28  17.24  14.71  25.64  13.51  21.43  23.81  90.    22.
   0.     7.    24.    27.    23.     2.     9.    31.58  75.     8.
  70.    95.    55.    28.    58.  ]

---
## üè∑Ô∏è 3. Renommage des Colonnes en Fran√ßais

Bas√© sur le fichier **Speed Dating Data Key.docx** que j'ai traduit avec Word.

In [483]:
# Dictionnaire complet de renommage des colonnes que nous allons garder.
rename_dict = {
    # identifiants
    'iid': 'id_unique',
    'id': 'id_wave',
    'gender': 'genre',
    'idg': 'id_genre',
    'wave': 'vague',
    'round': 'nb_personnes_vague',
    'order': 'ordre_rencontre',
    'partner': 'id_partenaire',
    'pid': 'id_unique_partenaire', 
    'match': 'match',
    
    # informations sur le partenaire
    'age_o': 'age_partenaire',
    'race_o': 'race_partenaire',
    'dec_o': 'decision_partenaire',
    'int_corr': 'correlation_interets',
    'samerace': 'same_race',
    'met_o': 'deja_rencontre_partenaire',
    
    # note du partenaire note re√ßue
    'attr_o': 'attractivite_recue',
    'sinc_o': 'sincerite_recue',
    'intel_o': 'intelligence_recue',
    'fun_o': 'fun_recu',
    'amb_o': 'ambition_recue',
    'shar_o': 'interets_partages_recus',
    'like_o': 'appreciation_recue',
    'prob_o': 'probabilite_oui_recue',
    
    # preferences du partenaire
    'pf_o_att': 'pref_partenaire_attractivite',
    'pf_o_sin': 'pref_partenaire_sincerite',
    'pf_o_int': 'pref_partenaire_intelligence',
    'pf_o_fun': 'pref_partenaire_fun',
    'pf_o_amb': 'pref_partenaire_ambition',
    'pf_o_sha': 'pref_partenaire_interets',
    
    # note donn√©es au partenaire
    'dec': 'decision',
    'attr': 'attractivite_donnee',
    'sinc': 'sincerite_donnee',
    'intel': 'intelligence_donnee',
    'fun': 'fun_donne',
    'amb': 'ambition_donnee',
    'shar': 'interets_partages_donnes',
    'like': 'appreciation_donnee',
    'prob': 'probabilite_oui_donnee',
    'met': 'deja_rencontre',
    
    # informations personnelles
    'age': 'age',
    'field': 'domaine_etude',
    'field_cd': 'domaine_code',
    'race': 'race',
    'imprace': 'importance_meme_race',
    'imprelig': 'importance_meme_religion',
    'goal': 'objectif_participation',
    'date': 'frequence_dates',
    'go_out': 'frequence_sorties',
    'career': 'carriere_visee',
    'career_c': 'carriere_code',
    
    # hobbies et int√©r√™ts
    'sports': 'interet_sport',
    'tvsports': 'interet_sport_tv',
    'exercise': 'interet_exercice',
    'dining': 'interet_restaurant',
    'museums': 'interet_musees',
    'art': 'interet_art',
    'hiking': 'interet_randonnee',
    'gaming': 'interet_jeux',
    'clubbing': 'interet_boite_nuit',
    'reading': 'interet_lecture',
    'tv': 'interet_tv',
    'theater': 'interet_theatre',
    'movies': 'interet_cinema',
    'concerts': 'interet_concerts',
    'music': 'interet_musique',
    'shopping': 'interet_shopping',
    'yoga': 'interet_yoga',
    
    # atente
    'exphappy': 'bonheur_attendu',
    
    # pr√©f√©rences persos
    'attr1_1': 'pref_attractivite',
    'sinc1_1': 'pref_sincerite',
    'intel1_1': 'pref_intelligence',
    'fun1_1': 'pref_fun',
    'amb1_1': 'pref_ambition',
    'shar1_1': 'pref_interets',
    
    # auto-√©valuation
    'attr3_1': 'auto_attractivite',
    'sinc3_1': 'auto_sincerite',
    'intel3_1': 'auto_intelligence',
    'fun3_1': 'auto_fun',
    'amb3_1': 'auto_ambition',
}

print(f'Dictionnaire avec {len(rename_dict)} colonnes √† renommer.')

Dictionnaire avec 80 colonnes √† renommer.

In [484]:
# Renommer les colonnes et on va garder uniquement celles dans le dictionnaire
df = df.rename(columns=rename_dict)
df = df[list(rename_dict.values())]
df.head()

,id_unique,id_wave,genre,id_genre,vague,nb_personnes_vague,ordre_rencontre,id_partenaire,id_unique_partenaire,match,...,pref_sincerite,pref_intelligence,pref_fun,pref_ambition,pref_interets,auto_attractivite,auto_sincerite,auto_intelligence,auto_fun,auto_ambition
0,1,1.0,0,1,1,10,4,1,11.0,0,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
1,1,1.0,0,1,1,10,3,2,12.0,0,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
2,1,1.0,0,1,1,10,10,3,13.0,1,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
3,1,1.0,0,1,1,10,5,4,14.0,1,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
4,1,1.0,0,1,1,10,7,5,15.0,1,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0

---
## üîç 4. Analyse des Valeurs Manquantes

In [485]:
# Analyse des valeurs manquantes

missing_values = df.isnull().sum()
missing_values = missing_values[missing_values > 0].sort_values(ascending=False)
missing_values = pd.DataFrame(missing_values)
missing_values.columns = ['nombre_valeurs_manquantes']
missing_values['pourcentage_valeurs_manquantes'] = (missing_values['nombre_valeurs_manquantes'] / df.shape[0]) * 100
missing_values.head(10)

,nombre_valeurs_manquantes,pourcentage_valeurs_manquantes
interets_partages_recus,1076,12.843161
interets_partages_donnes,1067,12.735736
ambition_recue,722,8.617809
ambition_donnee,712,8.498448
deja_rencontre_partenaire,385,4.595369
deja_rencontre,375,4.476009
fun_recu,360,4.296968
fun_donne,350,4.177608
probabilite_oui_recue,318,3.795655
probabilite_oui_donnee,309,3.688231

In [486]:
#supprimer la vague 12
df = df[df['vague'] != 12]
df['vague'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 13, 14, 15, 16, 17, 18,
       19, 20, 21])

In [487]:
#pid en NAN on les supprime
df = df.dropna(subset=['id_unique_partenaire'])
df['id_unique_partenaire'].isna().sum()
#verification reprise du code de distribution
print('le nombre de lignes est de :', df.shape[0])
print('le nombre de colonnes est de :', df.shape[1])
print('le nombre de participants uniques est de :', df["id_unique"].nunique())
print('le nombre de waves est de :', df["vague"].nunique())

le nombre de lignes est de : 7976
le nombre de colonnes est de : 80
le nombre de participants uniques est de : 523
le nombre de waves est de : 20

---
## üìä Nettoyage des donn√©es.

In [488]:
# Aper√ßu
df.head(10)
df.describe(include='all')

,id_unique,id_wave,genre,id_genre,vague,nb_personnes_vague,ordre_rencontre,id_partenaire,id_unique_partenaire,match,...,pref_sincerite,pref_intelligence,pref_fun,pref_ambition,pref_interets,auto_attractivite,auto_sincerite,auto_intelligence,auto_fun,auto_ambition
count,7976.000000,7975.000000,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,...,7897.000000,7897.000000,7888.000000,7879.000000,7857.000000,7871.000000,7871.000000,7871.000000,7871.000000,7871.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,282.702106,9.025831,0.500000,17.474674,11.326981,17.021815,9.002131,9.027457,282.702106,0.167753,...,17.272880,20.231263,17.559730,10.713629,11.840703,7.083217,8.276712,8.399695,7.693177,7.587092
std,162.337072,5.538731,0.500031,11.046274,6.139315,4.412098,5.529935,5.540288,162.337072,0.373670,...,6.882485,6.735399,6.117449,6.176301,6.439463,1.408113,1.399007,1.088729,1.581662,1.768137
min,1.000000,1.000000,0.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000,2.000000
25%,148.000000,4.000000,0.000000,8.000000,7.000000,15.000000,4.000000,4.000000,148.000000,0.000000,...,15.000000,17.500000,15.000000,5.000000,8.330000,6.000000,8.000000,8.000000,7.000000,7.000000
50%,272.000000,8.000000,0.500000,16.000000,11.000000,18.000000,8.000000,8.000000,272.000000,0.000000,...,18.000000,20.000000,18.000000,10.000000,11.110000,7.000000,8.000000,8.000000,8.000000,8.000000
75%,413.000000,13.000000,1.000000,26.000000,15.000000,20.000000,13.000000,13.000000,413.000000,0.000000,...,20.000000,23.260000,20.000000,15.000000,16.000000,8.000000,9.000000,9.000000,9.000000,9.000000
max,552.000000,22.000000,1.000000,44.000000,21.000000,22.000000,22.000000,22.000000,552.000000,1.000000,...,60.000000,50.000000,50.000000,53.000000,30.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [489]:
# Informations
print('il y a tjs un nombre de participant unique :', df["id_unique"].nunique())
print('il y a tjs un nombre de vague :', df["vague"].nunique())
print('nous avons tjs des valeurs manquantes :', df.isnull().sum().sum())

il y a tjs un nombre de participant unique : 523
il y a tjs un nombre de vague : 20
nous avons tjs des valeurs manquantes : 11775

In [490]:
# Statistiques descriptives
df.describe(include='all')

,id_unique,id_wave,genre,id_genre,vague,nb_personnes_vague,ordre_rencontre,id_partenaire,id_unique_partenaire,match,...,pref_sincerite,pref_intelligence,pref_fun,pref_ambition,pref_interets,auto_attractivite,auto_sincerite,auto_intelligence,auto_fun,auto_ambition
count,7976.000000,7975.000000,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,...,7897.000000,7897.000000,7888.000000,7879.000000,7857.000000,7871.000000,7871.000000,7871.000000,7871.000000,7871.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,282.702106,9.025831,0.500000,17.474674,11.326981,17.021815,9.002131,9.027457,282.702106,0.167753,...,17.272880,20.231263,17.559730,10.713629,11.840703,7.083217,8.276712,8.399695,7.693177,7.587092
std,162.337072,5.538731,0.500031,11.046274,6.139315,4.412098,5.529935,5.540288,162.337072,0.373670,...,6.882485,6.735399,6.117449,6.176301,6.439463,1.408113,1.399007,1.088729,1.581662,1.768137
min,1.000000,1.000000,0.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000,2.000000
25%,148.000000,4.000000,0.000000,8.000000,7.000000,15.000000,4.000000,4.000000,148.000000,0.000000,...,15.000000,17.500000,15.000000,5.000000,8.330000,6.000000,8.000000,8.000000,7.000000,7.000000
50%,272.000000,8.000000,0.500000,16.000000,11.000000,18.000000,8.000000,8.000000,272.000000,0.000000,...,18.000000,20.000000,18.000000,10.000000,11.110000,7.000000,8.000000,8.000000,8.000000,8.000000
75%,413.000000,13.000000,1.000000,26.000000,15.000000,20.000000,13.000000,13.000000,413.000000,0.000000,...,20.000000,23.260000,20.000000,15.000000,16.000000,8.000000,9.000000,9.000000,9.000000,9.000000
max,552.000000,22.000000,1.000000,44.000000,21.000000,22.000000,22.000000,22.000000,552.000000,1.000000,...,60.000000,50.000000,50.000000,53.000000,30.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [491]:
# remplacement des valeurs manquantes pour les colonnes num√©riques par la m√©diane on va iterer sur chaque colonne avec boucle for et type int ou float. si il y a des valeurs superieurs a 10
numerical_cols = df.select_dtypes(exclude=['object']).columns.tolist()
for col in numerical_cols:
    median_value = df[col].median()
    df[col].fillna(median_value, inplace=True)
    

print('‚úÖ Valeurs manquantes trait√©es !')

‚úÖ Valeurs manquantes trait√©es !

/var/folders/h5/tjbnq0312nnbccsycqjy_ftc0000gn/T/ipykernel_64638/2427204173.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_value, inplace=True)

In [492]:
# controle des valeurs manquantes, on reprend le code pr√©c√©dent

missing_values = df.isnull().sum()
missing_values = missing_values[missing_values > 0].sort_values(ascending=False)
missing_values = pd.DataFrame(missing_values)
missing_values.columns = ['nombre_valeurs_manquantes']
missing_values['pourcentage_valeurs_manquantes'] = (missing_values['nombre_valeurs_manquantes'] / df.shape[0]) * 100
missing_values.head(10)

                nombre_valeurs_manquantes  pourcentage_valeurs_manquantes
carriere_visee                         89                        1.115848
domaine_etude                          63                        0.789870

In [493]:
df.describe(include='all')

,id_unique,id_wave,genre,id_genre,vague,nb_personnes_vague,ordre_rencontre,id_partenaire,id_unique_partenaire,match,...,pref_sincerite,pref_intelligence,pref_fun,pref_ambition,pref_interets,auto_attractivite,auto_sincerite,auto_intelligence,auto_fun,auto_ambition
count,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,...,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000,7976.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,282.702106,9.025702,0.500000,17.474674,11.326981,17.021815,9.002131,9.027457,282.702106,0.167753,...,17.280081,20.228972,17.564588,10.704950,11.829801,7.082121,8.273069,8.394433,7.697217,7.592528
std,162.337072,5.538395,0.500031,11.046274,6.139315,4.412098,5.529935,5.540288,162.337072,0.373670,...,6.848690,6.701995,6.083778,6.139123,6.391853,1.398845,1.390124,1.082498,1.571605,1.757089
min,1.000000,1.000000,0.000000,1.000000,1.000000,5.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000,2.000000
25%,148.000000,4.000000,0.000000,8.000000,7.000000,15.000000,4.000000,4.000000,148.000000,0.000000,...,15.000000,17.650000,15.000000,5.000000,9.090000,6.000000,8.000000,8.000000,7.000000,7.000000
50%,272.000000,8.000000,0.500000,16.000000,11.000000,18.000000,8.000000,8.000000,272.000000,0.000000,...,18.000000,20.000000,18.000000,10.000000,11.110000,7.000000,8.000000,8.000000,8.000000,8.000000
75%,413.000000,13.000000,1.000000,26.000000,15.000000,20.000000,13.000000,13.000000,413.000000,0.000000,...,20.000000,23.260000,20.000000,15.000000,15.690000,8.000000,9.000000,9.000000,9.000000,9.000000
max,552.000000,22.000000,1.000000,44.000000,21.000000,22.000000,22.000000,22.000000,552.000000,1.000000,...,60.000000,50.000000,50.000000,53.000000,30.000000,10.000000,10.000000,10.000000,10.000000,10.000000

voila pour le nettoyage ! Je me dis que j'aurais d√©ja du nettoyer certaines colonnes sur les vagues 6-9 car elles ont une notation diff√©rente.

---
## üìã 7. V√©rification des vagues (√©chelles diff√©rentes)

In [494]:
#on va regarder la moyennes des notes donn√©es et re√ßues sur les participants pour vague 6-9
vagues_a_verifier = [6, 7, 8, 9]
colonnes_notes = [
    'pref_attractivite', 'pref_sincerite', 'pref_intelligence', 'pref_fun', 'pref_ambition', 'pref_interets',
    'pref_partenaire_attractivite', 'pref_partenaire_sincerite', 'pref_partenaire_intelligence',
    'pref_partenaire_fun', 'pref_partenaire_ambition', 'pref_partenaire_interets'
]
for vague in vagues_a_verifier:
    df_vague = df[df['vague'] == vague]
    print(f'Vague {vague} :')
    for col in colonnes_notes:
        mean_value = df_vague[col].mean()
        print(f'  Moyenne de {col} : {mean_value:.2f}')
    print('les notes sont comprises sont une distribution de 0 a 100')

Vague 6 :
  Moyenne de pref_attractivite : 16.99
  Moyenne de pref_sincerite : 18.77
  Moyenne de pref_intelligence : 18.11
  Moyenne de pref_fun : 17.66
  Moyenne de pref_ambition : 12.53
  Moyenne de pref_interets : 15.66
  Moyenne de pref_partenaire_attractivite : 16.99
  Moyenne de pref_partenaire_sincerite : 18.77
  Moyenne de pref_partenaire_intelligence : 18.11
  Moyenne de pref_partenaire_fun : 17.66
  Moyenne de pref_partenaire_ambition : 12.53
  Moyenne de pref_partenaire_interets : 15.66
les notes sont comprises sont une distribution de 0 a 100
Vague 7 :
  Moyenne de pref_attractivite : 15.57
  Moyenne de pref_sincerite : 17.94
  Moyenne de pref_intelligence : 19.16
  Moyenne de pref_fun : 18.44
  Moyenne de pref_ambition : 15.21
  Moyenne de pref_interets : 13.68
  Moyenne de pref_partenaire_attractivite : 15.57
  Moyenne de pref_partenaire_sincerite : 17.94
  Moyenne de pref_partenaire_intelligence : 19.16
  Moyenne de pref_partenaire_fun : 18.44
  Moyenne de pref_partenaire_ambition : 15.21
  Moyenne de pref_partenaire_interets : 13.68
les notes sont comprises sont une distribution de 0 a 100
Vague 8 :
  Moyenne de pref_attractivite : 16.51
  Moyenne de pref_sincerite : 18.55
  Moyenne de pref_intelligence : 18.44
  Moyenne de pref_fun : 17.42
  Moyenne de pref_ambition : 15.65
  Moyenne de pref_interets : 13.43
  Moyenne de pref_partenaire_attractivite : 16.51
  Moyenne de pref_partenaire_sincerite : 18.55
  Moyenne de pref_partenaire_intelligence : 18.44
  Moyenne de pref_partenaire_fun : 17.42
  Moyenne de pref_partenaire_ambition : 15.65
  Moyenne de pref_partenaire_interets : 13.43
les notes sont comprises sont une distribution de 0 a 100
Vague 9 :
  Moyenne de pref_attractivite : 16.42
  Moyenne de pref_sincerite : 17.50
  Moyenne de pref_intelligence : 19.08
  Moyenne de pref_fun : 17.71
  Moyenne de pref_ambition : 14.31
  Moyenne de pref_interets : 14.98
  Moyenne de pref_partenaire_attractivite : 16.42
  Moyenne de pref_partenaire_sincerite : 17.50
  Moyenne de pref_partenaire_intelligence : 19.08
  Moyenne de pref_partenaire_fun : 17.71
  Moyenne de pref_partenaire_ambition : 14.31
  Moyenne de pref_partenaire_interets : 14.98
les notes sont comprises sont une distribution de 0 a 100

In [495]:
#on va controler la moyenne des notes donn√©es et re√ßues sur les participants pour vague 1-5
vagues_a_verifier = [1, 2, 3, 4, 5,10,11, 13,14,15,16,17,18,19,20,21]
colonnes_notes = [
    'pref_attractivite', 'pref_sincerite', 'pref_intelligence', 'pref_fun', 'pref_ambition', 'pref_interets',
    'pref_partenaire_attractivite', 'pref_partenaire_sincerite', 'pref_partenaire_intelligence',
    'pref_partenaire_fun', 'pref_partenaire_ambition', 'pref_partenaire_interets'
]
for vague in vagues_a_verifier:
    df_vague = df[df['vague'] == vague]
    print(f'Vague {vague} :')
    for col in colonnes_notes:
        mean_value = df_vague[col].mean()
        print(f'  Moyenne de {col} : {mean_value:.2f}')
    print('les notes sont comprises sont une distribution de 0 a 100')

Vague 1 :
  Moyenne de pref_attractivite : 32.32
  Moyenne de pref_sincerite : 11.11
  Moyenne de pref_intelligence : 19.87
  Moyenne de pref_fun : 19.61
  Moyenne de pref_ambition : 7.41
  Moyenne de pref_interets : 9.67
  Moyenne de pref_partenaire_attractivite : 32.32
  Moyenne de pref_partenaire_sincerite : 11.11
  Moyenne de pref_partenaire_intelligence : 19.87
  Moyenne de pref_partenaire_fun : 19.61
  Moyenne de pref_partenaire_ambition : 7.41
  Moyenne de pref_partenaire_interets : 9.67
les notes sont comprises sont une distribution de 0 a 100
Vague 2 :
  Moyenne de pref_attractivite : 24.13
  Moyenne de pref_sincerite : 18.18
  Moyenne de pref_intelligence : 23.20
  Moyenne de pref_fun : 16.75
  Moyenne de pref_ambition : 9.08
  Moyenne de pref_interets : 9.22
  Moyenne de pref_partenaire_attractivite : 24.13
  Moyenne de pref_partenaire_sincerite : 18.18
  Moyenne de pref_partenaire_intelligence : 23.20
  Moyenne de pref_partenaire_fun : 16.75
  Moyenne de pref_partenaire_ambition : 9.08
  Moyenne de pref_partenaire_interets : 9.22
les notes sont comprises sont une distribution de 0 a 100
Vague 3 :
  Moyenne de pref_attractivite : 22.30
  Moyenne de pref_sincerite : 15.90
  Moyenne de pref_intelligence : 21.30
  Moyenne de pref_fun : 18.65
  Moyenne de pref_ambition : 11.50
  Moyenne de pref_interets : 12.01
  Moyenne de pref_partenaire_attractivite : 22.30
  Moyenne de pref_partenaire_sincerite : 15.90
  Moyenne de pref_partenaire_intelligence : 21.30
  Moyenne de pref_partenaire_fun : 18.65
  Moyenne de pref_partenaire_ambition : 11.50
  Moyenne de pref_partenaire_interets : 12.01
les notes sont comprises sont une distribution de 0 a 100
Vague 4 :
  Moyenne de pref_attractivite : 19.75
  Moyenne de pref_sincerite : 18.00
  Moyenne de pref_intelligence : 22.08
  Moyenne de pref_fun : 16.61
  Moyenne de pref_ambition : 10.42
  Moyenne de pref_interets : 12.86
  Moyenne de pref_partenaire_attractivite : 19.75
  Moyenne de pref_partenaire_sincerite : 18.00
  Moyenne de pref_partenaire_intelligence : 22.08
  Moyenne de pref_partenaire_fun : 16.61
  Moyenne de pref_partenaire_ambition : 10.42
  Moyenne de pref_partenaire_interets : 12.86
les notes sont comprises sont une distribution de 0 a 100
Vague 5 :
  Moyenne de pref_attractivite : 30.36
  Moyenne de pref_sincerite : 15.44
  Moyenne de pref_intelligence : 18.56
  Moyenne de pref_fun : 19.32
  Moyenne de pref_ambition : 10.93
  Moyenne de pref_interets : 8.40
  Moyenne de pref_partenaire_attractivite : 30.36
  Moyenne de pref_partenaire_sincerite : 15.44
  Moyenne de pref_partenaire_intelligence : 18.56
  Moyenne de pref_partenaire_fun : 19.32
  Moyenne de pref_partenaire_ambition : 10.93
  Moyenne de pref_partenaire_interets : 8.40
les notes sont comprises sont une distribution de 0 a 100
Vague 10 :
  Moyenne de pref_attractivite : 22.44
  Moyenne de pref_sincerite : 19.33
  Moyenne de pref_intelligence : 18.67
  Moyenne de pref_fun : 16.17
  Moyenne de pref_ambition : 10.33
  Moyenne de pref_interets : 13.06
  Moyenne de pref_partenaire_attractivite : 22.44
  Moyenne de pref_partenaire_sincerite : 19.33
  Moyenne de pref_partenaire_intelligence : 18.67
  Moyenne de pref_partenaire_fun : 16.17
  Moyenne de pref_partenaire_ambition : 10.33
  Moyenne de pref_partenaire_interets : 13.06
les notes sont comprises sont une distribution de 0 a 100
Vague 11 :
  Moyenne de pref_attractivite : 22.13
  Moyenne de pref_sincerite : 19.25
  Moyenne de pref_intelligence : 21.16
  Moyenne de pref_fun : 16.75
  Moyenne de pref_ambition : 9.61
  Moyenne de pref_interets : 11.09
  Moyenne de pref_partenaire_attractivite : 22.13
  Moyenne de pref_partenaire_sincerite : 19.25
  Moyenne de pref_partenaire_intelligence : 21.16
  Moyenne de pref_partenaire_fun : 16.75
  Moyenne de pref_partenaire_ambition : 9.61
  Moyenne de pref_partenaire_interets : 11.09
les notes sont comprises sont une distribution de 0 a 100
Vague 13 :
  Moyenne de pref_attractivite : 22.23
  Moyenne de pref_sincerite : 17.28
  Moyenne de pref_intelligence : 18.66
  Moyenne de pref_fun : 17.14
  Moyenne de pref_ambition : 12.17
  Moyenne de pref_interets : 12.20
  Moyenne de pref_partenaire_attractivite : 22.23
  Moyenne de pref_partenaire_sincerite : 17.28
  Moyenne de pref_partenaire_intelligence : 18.66
  Moyenne de pref_partenaire_fun : 17.14
  Moyenne de pref_partenaire_ambition : 12.17
  Moyenne de pref_partenaire_interets : 12.20
les notes sont comprises sont une distribution de 0 a 100
Vague 14 :
  Moyenne de pref_attractivite : 25.56
  Moyenne de pref_sincerite : 16.24
  Moyenne de pref_intelligence : 18.52
  Moyenne de pref_fun : 17.58
  Moyenne de pref_ambition : 11.23
  Moyenne de pref_interets : 10.82
  Moyenne de pref_partenaire_attractivite : 25.56
  Moyenne de pref_partenaire_sincerite : 16.24
  Moyenne de pref_partenaire_intelligence : 18.52
  Moyenne de pref_partenaire_fun : 17.58
  Moyenne de pref_partenaire_ambition : 11.23
  Moyenne de pref_partenaire_interets : 10.82
les notes sont comprises sont une distribution de 0 a 100
Vague 15 :
  Moyenne de pref_attractivite : 26.25
  Moyenne de pref_sincerite : 15.73
  Moyenne de pref_intelligence : 19.92
  Moyenne de pref_fun : 17.67
  Moyenne de pref_ambition : 9.61
  Moyenne de pref_interets : 10.83
  Moyenne de pref_partenaire_attractivite : 26.25
  Moyenne de pref_partenaire_sincerite : 15.73
  Moyenne de pref_partenaire_intelligence : 19.92
  Moyenne de pref_partenaire_fun : 17.67
  Moyenne de pref_partenaire_ambition : 9.61
  Moyenne de pref_partenaire_interets : 10.83
les notes sont comprises sont une distribution de 0 a 100
Vague 16 :
  Moyenne de pref_attractivite : 22.90
  Moyenne de pref_sincerite : 17.90
  Moyenne de pref_intelligence : 23.77
  Moyenne de pref_fun : 14.21
  Moyenne de pref_ambition : 10.02
  Moyenne de pref_interets : 12.46
  Moyenne de pref_partenaire_attractivite : 22.90
  Moyenne de pref_partenaire_sincerite : 17.90
  Moyenne de pref_partenaire_intelligence : 23.77
  Moyenne de pref_partenaire_fun : 14.21
  Moyenne de pref_partenaire_ambition : 10.02
  Moyenne de pref_partenaire_interets : 12.46
les notes sont comprises sont une distribution de 0 a 100
Vague 17 :
  Moyenne de pref_attractivite : 27.10
  Moyenne de pref_sincerite : 16.61
  Moyenne de pref_intelligence : 19.66
  Moyenne de pref_fun : 19.17
  Moyenne de pref_ambition : 7.70
  Moyenne de pref_interets : 9.76
  Moyenne de pref_partenaire_attractivite : 27.10
  Moyenne de pref_partenaire_sincerite : 16.61
  Moyenne de pref_partenaire_intelligence : 19.66
  Moyenne de pref_partenaire_fun : 19.17
  Moyenne de pref_partenaire_ambition : 7.70
  Moyenne de pref_partenaire_interets : 9.76
les notes sont comprises sont une distribution de 0 a 100
Vague 18 :
  Moyenne de pref_attractivite : 24.17
  Moyenne de pref_sincerite : 15.83
  Moyenne de pref_intelligence : 17.92
  Moyenne de pref_fun : 17.58
  Moyenne de pref_ambition : 10.83
  Moyenne de pref_interets : 13.67
  Moyenne de pref_partenaire_attractivite : 24.17
  Moyenne de pref_partenaire_sincerite : 15.83
  Moyenne de pref_partenaire_intelligence : 17.92
  Moyenne de pref_partenaire_fun : 17.58
  Moyenne de pref_partenaire_ambition : 10.83
  Moyenne de pref_partenaire_interets : 13.67
les notes sont comprises sont une distribution de 0 a 100
Vague 19 :
  Moyenne de pref_attractivite : 19.77
  Moyenne de pref_sincerite : 17.30
  Moyenne de pref_intelligence : 19.87
  Moyenne de pref_fun : 18.60
  Moyenne de pref_ambition : 11.67
  Moyenne de pref_interets : 12.47
  Moyenne de pref_partenaire_attractivite : 19.77
  Moyenne de pref_partenaire_sincerite : 17.30
  Moyenne de pref_partenaire_intelligence : 19.87
  Moyenne de pref_partenaire_fun : 18.60
  Moyenne de pref_partenaire_ambition : 11.67
  Moyenne de pref_partenaire_interets : 12.47
les notes sont comprises sont une distribution de 0 a 100
Vague 20 :
  Moyenne de pref_attractivite : 21.27
  Moyenne de pref_sincerite : 17.12
  Moyenne de pref_intelligence : 22.86
  Moyenne de pref_fun : 15.93
  Moyenne de pref_ambition : 12.08
  Moyenne de pref_interets : 10.74
  Moyenne de pref_partenaire_attractivite : 21.27
  Moyenne de pref_partenaire_sincerite : 17.12
  Moyenne de pref_partenaire_intelligence : 22.86
  Moyenne de pref_partenaire_fun : 15.93
  Moyenne de pref_partenaire_ambition : 12.08
  Moyenne de pref_partenaire_interets : 10.74
les notes sont comprises sont une distribution de 0 a 100
Vague 21 :
  Moyenne de pref_attractivite : 25.59
  Moyenne de pref_sincerite : 17.23
  Moyenne de pref_intelligence : 20.41
  Moyenne de pref_fun : 17.68
  Moyenne de pref_ambition : 7.45
  Moyenne de pref_interets : 11.78
  Moyenne de pref_partenaire_attractivite : 25.59
  Moyenne de pref_partenaire_sincerite : 17.23
  Moyenne de pref_partenaire_intelligence : 20.41
  Moyenne de pref_partenaire_fun : 17.68
  Moyenne de pref_partenaire_ambition : 7.45
  Moyenne de pref_partenaire_interets : 11.78
les notes sont comprises sont une distribution de 0 a 100

In [496]:
'''# on va mettre a l'echelle les notes sur une attribution de 100 points pour les vagues 6-9
# M√©thode : (valeur / somme_par_ligne) * 100

total_recues= ['attractivite_recue', 'sincerite_recue', 'intelligence_recue', 'fun_recu', 'ambition_recue', 'interets_partages_recus']
total_donnees = ['attractivite_donnee', 'sincerite_donnee', 'intelligence_donnee', 'fun_donne', 'ambition_donnee', 'interets_partages_donnes']

# Cr√©er un masque pour les vagues 6-9
mask_waves_69 = df['vague'].between(6, 9)

# Calculer les sommes par ligne UNIQUEMENT pour les vagues 6-9
somme_recues = df.loc[mask_waves_69, total_recues].sum(axis=1)
somme_donnees = df.loc[mask_waves_69, total_donnees].sum(axis=1)

# Normaliser chaque colonne
for col in total_recues:
    mask_valid = (somme_recues > 0) & df.loc[mask_waves_69, col].notna()
    df.loc[mask_waves_69 & mask_valid, col] = (
        df.loc[mask_waves_69 & mask_valid, col] / somme_recues[mask_valid] * 100
    )

for col in total_donnees:
    mask_valid = (somme_donnees > 0) & df.loc[mask_waves_69, col].notna()
    df.loc[mask_waves_69 & mask_valid, col] = (
        df.loc[mask_waves_69 & mask_valid, col] / somme_donnees[mask_valid] * 100
    )'''

"# on va mettre a l'echelle les notes sur une attribution de 100 points pour les vagues 6-9\n# M√©thode : (valeur / somme_par_ligne) * 100\n\ntotal_recues= ['attractivite_recue', 'sincerite_recue', 'intelligence_recue', 'fun_recu', 'ambition_recue', 'interets_partages_recus']\ntotal_donnees = ['attractivite_donnee', 'sincerite_donnee', 'intelligence_donnee', 'fun_donne', 'ambition_donnee', 'interets_partages_donnes']\n\n# Cr√©er un masque pour les vagues 6-9\nmask_waves_69 = df['vague'].between(6, 9)\n\n# Calculer les sommes par ligne UNIQUEMENT pour les vagues 6-9\nsomme_recues = df.loc[mask_waves_69, total_recues].sum(axis=1)\nsomme_donnees = df.loc[mask_waves_69, total_donnees].sum(axis=1)\n\n# Normaliser chaque colonne\nfor col in total_recues:\n    mask_valid = (somme_recues > 0) & df.loc[mask_waves_69, col].notna()\n    df.loc[mask_waves_69 & mask_valid, col] = (\n        df.loc[mask_waves_69 & mask_valid, col] / somme_recues[mask_valid] * 100\n    )\n\nfor col in total_donnees:\n    mask_valid = (somme_donnees > 0) & df.loc[mask_waves_69, col].notna()\n    df.loc[mask_waves_69 & mask_valid, col] = (\n        df.loc[mask_waves_69 & mask_valid, col] / somme_donnees[mask_valid] * 100\n    )"

In [497]:
'''# on controle les moyennes des colonnes normalis√©es (vagues 6-9 seulement)
df_vagues_69 = df[df['vague'].between(6, 9)]
print('Statistiques pour les vagues 6-9 apr√®s normalisation :')
df_vagues_69[total_recues + total_donnees].describe()'''

"# on controle les moyennes des colonnes normalis√©es (vagues 6-9 seulement)\ndf_vagues_69 = df[df['vague'].between(6, 9)]\nprint('Statistiques pour les vagues 6-9 apr√®s normalisation :')\ndf_vagues_69[total_recues + total_donnees].describe()"

In [498]:
'''# V√©rifier que les sommes par ligne font bien 100 pour les vagues 6-9
df_vagues_69 = df[df['vague'].between(6, 9)]
somme_finale_recues = df_vagues_69[total_recues].sum(axis=1)
somme_finale_donnees = df_vagues_69[total_donnees].sum(axis=1)

print('‚úÖ Normalisation termin√©e !')
print(f'Somme moyenne des notes re√ßues (vagues 6-9) : {somme_finale_recues.mean():.2f}')
print(f'Somme moyenne des notes donn√©es (vagues 6-9) : {somme_finale_donnees.mean():.2f}')'''

"# V√©rifier que les sommes par ligne font bien 100 pour les vagues 6-9\ndf_vagues_69 = df[df['vague'].between(6, 9)]\nsomme_finale_recues = df_vagues_69[total_recues].sum(axis=1)\nsomme_finale_donnees = df_vagues_69[total_donnees].sum(axis=1)\n\nprint('‚úÖ Normalisation termin√©e !')\nprint(f'Somme moyenne des notes re√ßues (vagues 6-9) : {somme_finale_recues.mean():.2f}')\nprint(f'Somme moyenne des notes donn√©es (vagues 6-9) : {somme_finale_donnees.mean():.2f}')"

In [499]:
'''# dernier describe pour controle sur les colonnes modifi√©es
df[total_recues + total_donnees].describe(include='all')
'''

"# dernier describe pour controle sur les colonnes modifi√©es\ndf[total_recues + total_donnees].describe(include='all')\n"

---
## üñ•Ô∏è 8. renommer les values pour avoir qq chose de propre

In [500]:
# remplacer sur la colonne gender 1 par homme et 0 par femme
df['genre'] = df['genre'].replace({1: 'homme', 0: 'femme'})
# remplacer sur la colonne match 1 par oui et 0 par non
df['match'] = df['match'].replace({1: 'oui', 0: 'non'})
# remplacer sur la colonne deja_rencontre 1 par oui et 0 par non
df['deja_rencontre'] = df['deja_rencontre'].replace({1: 'oui', 0: 'non'})


# preparation de la colonne carriere code
career = {  1: 'Avocat',
            2: 'Universitaire/Recherche',
            3: 'Psychologue',
            4: 'M√©decin/M√©decine',
            5: 'Ing√©nieur',
            6: 'Arts cr√©atifs/divertissement',
            7: 'Banque/Conseil/Finance/Marketing/Business/PDG/Entrepreneur/Admin',
            8: 'Immobilier',    
            9: 'Affaires internationales/humanitaires',
            10: 'Ind√©cis',
            11: 'Travail social',
            12: 'Orthophonie',
            13: 'Politique',
            14: 'Sports professionnels/Athl√©tisme',
            15: 'Autre',
            16: 'Journalisme',
            17: 'Architecture'
}

df['carriere_code'] = df['carriere_code'].replace(career)

# preparation de la colonne domaine_code 
domaine = {  1: 'Loi',
            2: 'Math√©matiques',
            3: 'Sciences sociales, Psychologue',
            4: 'Sciences m√©dicales, produits pharmaceutiques et biotechnologie',
            5: 'Ing√©nierie',
            6: 'Anglais/√âcriture cr√©ative/ Journalisme',
            7: 'Histoire/Religion/Philosophie',
            8: 'Affaires/√âconomie/Finance',
            9: '√âducation, Milieu universitaire',
            10: 'Sciences biologiques/Chimie/Physique',
            11: 'Travail social',
            12: '√âtudiant de premier cycle/ind√©cis',
            13: 'Science politique/Affaires internationales',
            14: 'Pellicule',
            15: 'Beaux-arts/Administration des arts',
            16: 'Langues',
            17: 'Architecture',
            18: 'Autre'
}

df['domaine_code'] = df['domaine_code'].replace(domaine)

# preparation de la colonne objectif_participation
objectif = {  1: '√áa avait l\'air d\'√™tre une soir√©e amusante',
              2: 'Pour rencontrer de nouvelles personnes',
              3: 'Pour obtenir une date',
              4: '√Ä la recherche d\'une relation s√©rieuse',
              5: 'Dire que je l\'ai fait',
              6: 'Autre'
}

df['objectif_participation'] = df['objectif_participation'].replace(objectif)

In [501]:
df.head()

,id_unique,id_wave,genre,id_genre,vague,nb_personnes_vague,ordre_rencontre,id_partenaire,id_unique_partenaire,match,...,pref_sincerite,pref_intelligence,pref_fun,pref_ambition,pref_interets,auto_attractivite,auto_sincerite,auto_intelligence,auto_fun,auto_ambition
0,1,1.0,femme,1,1,10,4,1,11.0,non,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
1,1,1.0,femme,1,1,10,3,2,12.0,non,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
2,1,1.0,femme,1,1,10,10,3,13.0,oui,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
3,1,1.0,femme,1,1,10,5,4,14.0,oui,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0
4,1,1.0,femme,1,1,10,7,5,15.0,oui,...,20.0,20.0,15.0,15.0,15.0,6.0,8.0,8.0,8.0,7.0

## ‚û°Ô∏è 9. Insertion de la colonne regroupement age

In [503]:
# decoupage par tranche d'age et par sexe cf lien https://www.delftstack.com/fr/api/python-pandas/pandas-cut-function/
tranches_age = [18, 25, 35, 45, 60]
labels_age = ['18-24', '25-34', '35-44', '45-59']
df['tranche_age'] = pd.cut(df['age'], bins=tranches_age, labels=labels_age, right=False)

## üíæ 10. Sauvegarde du Dataset Nettoy√©

In [504]:
# Sauvegarder le dataset nettoy√© avec colonnes renomm√©es
output_file = '../speed_dating_clean.csv'
df.to_csv(output_file, index=False, encoding='utf-8-sig')
print('fichier sauvegard√© !')

fichier sauvegard√© !

---
## ‚úÖ R√©sum√© du Nettoyage

### Ce qui a √©t√© fait :
1. ‚úÖ **Chargement** : 8,378 lignes √ó 195 colonnes
2. ‚úÖ **Renommage et conservation des donn√©es interressantes pour notre analyse** : Toutes les colonnes en fran√ßais selon la documentation traduite avec word
2. ‚úÖ **suppression vague 12** : syst√®me de notation diff√©rent et non compatible
3. ‚úÖ **Remplacement des valeurs manquantes** : mediane pour remplacer les valeurs manquantes
4. ‚úÖ **description des values** : indication des valeurs a place de code dans certains champs
5. ‚úÖ **Sauvegarde** : Dataset nettoy√© export√©
5. ‚úÖ **le dataset clean** : 7976 lignes √ó 80 colonnes et 523 participants sur 20 vagues.